<html>
<head>
  <title><%= @title %> | <%= settings.site_name %></title>
  <link href="/assets/css/app.css" rel="stylesheet">
  <link href="/assets/css/font-awesome.css" rel="stylesheet">
  <script src="/assets/js/jquery-1.9.1.min.js"></script>
  <script src="/assets/js/foundation.min.js"></script>
  <script>
    $(function() {
      $(document).foundation();
    });
  </script>
</head>
<body>
  <header>
    <div class="row">
      <div class="columns small-12">
        <%= erb :header %>
      <div>
    </div>
  </header>
  <div class="row">
    <div class="columns small-12">
      <div class="content">
        <% [:notice, :error, :success].each do |key| %>
          <% if not flash[key].nil? %>
            <div data-alert class="alert-box <%= style_by_flash_key(key) %>">
              <%= flash[key] %>
              <a href="#" class="close">&times;</a>
            </div>
          <% end %>
        <% end %>
        <%= yield %>
        <% if ENV['RACK_ENV'] == 'development' %>
          <h5>params:</h5>
          <pre><%= params.to_yaml %></pre>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns small-12">
      <%= erb :footer %>
    </div>
  </div>
</body>
</html>