%html
  %head
    %title= "#{@title} | #{settings.site_name}"
    = css('app')
    = css('font-awesome')
    = js('jquery-1.9.1.min', 'vendor')
    = js('foundation.min', 'vendor')
    = js('shared')
    :javascript
      $(function() {
        $(document).foundation();
      });
  %body
    %header
      .row
        .columns.small-12
          = haml :_header
    .row
      .columns.small-12
        #container
          - [:notice, :error, :success].each do |key|
            - if not flash[key].nil?
              = alert_box(flash[key], key, true)
          = yield
          - if ENV['RACK_ENV'] == 'development'
            <h5>params:</h5>
            %pre= params.to_yaml

    .row
      .columns.small-12
        = haml :_footer