%h3 Memo
%ul.breadcrumbs
  %li.current
    %a{href: "#"}Folders
  %li
    %a{href: "#{new_memo_folder_path}"} 
      %i.icon-plus
- if @folders.any?
  %table{width: "100%"}
    %tbody
      - @folders.each do |folder|
        %tr
          %td
            %i.icon-folder-close
            %a{href: "#{show_memo_folder_path folder.id}"}= folder.name
          %td{style: "width:70px"}
            %a{href: "#{update_memo_folder_path folder.id}", style: "margin-right: 5px"}
              %i.icon-pencil
            %form{method: "POST", action: "#{destroy_memo_folder_path}"}
              %input{type: "hidden", value: "#{folder.id}", name: "id"}
              %a{href: "#", data: {link_type: 'delete'}}
                %i.icon-trash
- else
  .alert-box.secondary
    No folders can be found. 
    %a{href: "#{new_memo_folder_path}"} Create a folder
    now.
  