<h3>Create note</h3>
<ul class="breadcrumbs">
  <li><a href="<%= memo_path %>">Folders</a></li>
  <li><a href="<%= memo_folders_path @folder.id %>"><%= @folder.name %></a></li>
  <li class="current"><a href="#">Create note</a></li>
</ul>
<%= partial(:'model_errors', :locals => { m: @note}) %>
<form action="<%= memo_notes_path @folder.id %>" method="POST">
  <div class="row">
    <div class="small-12 columns">
      <label>Name</label>
      <input type="text" name="note[name]" placeholder="Give me a name" name="name" value="<%= @note.name %>">
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <label>Content</label>
      <textarea name="note[content]" class="medium" placeholder="Write some content..." name="content" value="<%= @note.content %>"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <ul class="button-group pull-right">
        <li><input type="submit" value="Create" class="button"></li>
        <li><a href="<%= memo_folders_path @folder.id %>" class="button secondary">Cancel</a></li>
      </ul>
    </div>
  </div>
</form>